<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

<!-- 지금 내가 하고있는 프로젝트와 이름이 같은지 꼭 확인해야한다. -->
  <display-name>janghi_homepage</display-name>
  
  <!-- 메인이될?? 시작이될?? jsp이다.  -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- log4j2의 설정파일 경로를 지정하는것 -->
  <!-- WEB-INF 폴더 안에 log4g2.xml을 넣었다는 의미 -->
  <context-param>
  	<param-name>log4j2Config</param-name>
  	<param-value>/WEB-INF/log4j2.xml</param-value>
  </context-param>
  
  <!-- 우리가 사용할 문자인코딩은 UTF-8이라고 쓰는것 -->
  <context-param>
  	<param-name>encoding</param-name>
  	<param-value>UTF-8</param-value>
  </context-param>
  
</web-app>